.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #66929f;
  color: white;
  height: 8dvh;
}

.title {
  font-size: 24px;
  font-family: monospace, sans-serif, arial;
  margin: 0;
  text-decoration: none;
  color: inherit;
}


.ar {
  font-size: 25px;
  color: rgb(59 76 103);
  font-family:fantasy
}

.menuContainer {
  position: relative;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menuButton:focus {
  outline: none;
}

.menu {
  min-width: 139px;
  z-index:1000;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  list-style: none;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  border-radius:10px;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.divOptions {
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: inherit
}