* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #fafafa;
}

form {
  display: grid;
  place-content: center;
  margin: 20px auto;
}

form input {
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #181818;
}

form span {
  font-size: x-small;
  color: red;
  font-style: italic;
}

form button {
  margin-top: 10px;
  font-size: large;
  padding: 5px 10px;
  background-color: bisque;
  border-radius: 10px;
  color: #181818;
  font-weight: bold;
}

.invalid {
  margin: 2px solid red;
}

.hidden {
  display: none;
}

.thanks {
  color: grey;
}

#newsletter {
  margin-left: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  transition: all 0.3s ease;
  
}

#modalText {
  margin: 20px;
  font-size: larger;
  font-weight: bold;
  line-height: 1.5;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 30px;
}

.btnModal {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos específicos para el botón cancel */
.cancel {
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ff4d4d;
}

.cancel:hover {
  background-color: #e60000;
  border-color: #e60000;
}

/* Estilos específicos para el botón confirm */
.confirm {
  background-color: #66cc66;
  color: white;
  border: 2px solid #66cc66;
}

.confirm:hover {
  background-color: #4d994d;
  border-color: #4d994d;
}
