* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  margin: 10px auto;
  width: 150px;
  aspect-ratio: 1/1;
  border: 5px dotted orangered;
  border-radius: 50%;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
